<center>
  <h1>Nuestras Tiendas</h1>
</center>

<table>
<% @tiendas.each do |tienda| %>
  <tr height="50px">
    <td width="200px;"><%=h tienda.nombre %></td>
    <td width="400px;"><%=h tienda.direccion %></td>

  </tr>
<% end %>
</table>
