<% @tiendas.each do |tienda| %>
  <div class="info">
    <h2><%= link_to tienda.nombre.upcase, tienda%></h2>
    <p><%=h tienda.direccion.upcase %></p>
  </div>
<% end %>

<%= render :partial => '/layouts/admin_bar' %>